<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="http://placehold.it/150x50&text=Logo" alt="">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
  </ul>

  <ul class="nav navbar-nav navbar-right">

    <% if (user)  { %>

      <li><a href="/profile"><%= user.displayName %></a></li>
      <li><a href="/usersList">Users</a></li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-user">
            <span class="badge badge-notify" id="totalRequests"><%= user.friendsRequestReceive.length %></span>
          </i>
        </a>

        <ul class="dropdown-menu" id="friendsRequested" style="background: white">
          <% user.friendsRequestReceive.forEach(function(friend) { %>
            <li id="<%= friend.requestee._id %>">
              <span class="item">
                <span class="item-left">
                  <img class="img-responsive friend-request-img" src="<%= friend.requestee.picture %>" alt="" />
                  <span class="item-info">
                    <span><%= friend.requestee.username %></span>
                  </span>
                </span>
                <span class="item-right button-request">
                  <button class="btn btn-xs btn-danger pull-right"
                  id="decline-friend-request" value="<%= friend.requestee._id %>">Decline</button>
                  <button class="btn btn-xs btn-success pull-right"
                  id="add-friend-request" value="<%= friend.requestee._id %>">Accept
                </button>
              </span>
            </span>
          </li>
          <li>
            <% }) %>


          </ul>


        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-globe">
              <span class="badge badge-notify" id="notification">0</span>
            </i>
          </a>
          <!-- for loop categories later -->
          <ul class="dropdown-menu">
            <li><a href="#">Testing</a></li>
          </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/profile">Login With Twitter</a></li>

          <% } %>


        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
