<% layout('layout') -%>

<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="<%= otherUser.picture %>" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1><%= otherUser.displayName %></h1>
            <p><%= otherUser.username %></p>
            <input type="hidden" name="userId" id="userId" value="<%= otherUser._id %>" />
            <% var userRequested = false;
              user.friendsRequestSend.forEach(function(friend) { %>
              <% if ((String(friend.friendTarget) === String(otherUser._id)))  { %>
                <% userRequested = true; %>
              <% } else { %>
                <% userRequested = false; %>
              <% } %>
            <% }) %>

            <% var myFriend = false; var friend; var otherFriend;
              user.friends.forEach(function(friend) { %>
              <% if ((String(friend.friend._id) === String(otherUser._id)))  { %>
                <% myFriend = true; %>
                <% friend = friend.friend._id %>
                <% otherFriend = otherUser._id %>
              <% } else { %>
                <%  myFriend = false; %>
              <% } %>
            <% }) %>

            <p><%= friend %> ++++ <%= otherFriend %></p>

            <% if (userRequested) {%>
                <button type="submit" id="addFriend" class="btn btn-success" disabled>
                  <span class="glyphicon glyphicon-ok">Added</span>
                </button>
            <% } else { %>
              <% if (myFriend)  { %>
                <button type="submit" class="btn btn-primary">Friend</button>
                <a href="/message/<%= otherUser._id %>" type="submit" class="btn btn-default">Message</a>
              <% } else {%>
                <button type="submit" id="addFriend" class="btn btn-default">Add Friend</button>
                <% } %>
              <% } %>





        </div>
    </div>
</div> <!-- /container -->
